@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

svg, img {
    display: block;
}

html {
    font-size: 62.5%;
}

$font-family: 'DM Sans', sans-serif;
$Soft-red: hsl(10, 79%, 65%);
$Cyan: hsl(186, 34%, 60%);
$Dark-brown: hsl(25, 47%, 15%);
$Medium-brown: hsl(28, 10%, 53%);
$Cream: hsl(27, 66%, 92%);
$Very-pale-orange: hsl(33, 100%, 98%);

body {
    font-family: $font-family;
    background-color: $Cream;
    padding: min(4.5vw, 2.5rem);
}

.expenses-comp {
    display: flex;
    flex-direction: column;
    gap: min(4.5vw, 2.5rem);
    max-width: 54rem;
    margin: auto;
}

.header {
    background-color: $Soft-red;
    padding: min(5.3vw, 4rem);
    color: $Very-pale-orange;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;

    &__text-container {
        display: flex;
        flex-direction: column;
        gap: min(2.6vw, 1.5rem);
    }
    &__label {
        font-size: min(3.5vw, 1.5rem);
        font-weight: 400;
    }
    &__number {
        font-size: min(5.3vw, 2.5rem);
        font-weight: 700;
    }
    &__logo {
        width: min(16vw, 7rem);
    }
}

.card {
    background-color: $Very-pale-orange;
    padding: min(5.3vw, 4rem);
    border-radius: 1rem;

    &__title {
        color: $Dark-brown;
        font-size: min(5.3vw, 2.5rem);
    }
}

.footer {
    border-top: 1px solid $Cream;
    padding-top: min(5.3vw, 3rem);
    display: flex;
    justify-content: space-between;

    &__text-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-between;

        &--small {
            @extend .footer__text-container;
            gap: 0;
            justify-content: flex-end;
        }
    }
    &__label {
        color: $Medium-brown;
        font-size: min(3.5vw, 1.5rem);
        font-weight: 400;
    }
    &__number {
        color: $Dark-brown;
        font-size: min(6.6vw, 3.5rem);
        font-weight: 700;

        &--small {
            @extend .footer__number;
            font-size: min(3.5vw, 1.5rem);
            text-align: right;
        }
    }
}