@charset "UTF-8";

/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

*::before, *::after {
    box-sizing: border-box;
  }

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
     object-fit: cover;
  /* opcional */
  -o-object-position: center center;
     object-position: center center;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1rem;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
    font-family: 'Inter', sans-serif;

  min-height: 100vh;
  font-size: 100%;
  /* opcional */
  line-height: 1.5;
  /* opcional */
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}
/* ---------------------------------------------------------------------*/

::selection {
    color: white;
    background-color: #0072fa;
}

root {
    --blue-main: #0072fa;
    --white: #f6f6f6;
    --light-gray: #d1d1d1;
    --dark-gray: #4a4a4a;
    --gradient-1: #020d3d;
    --gradient-2: #0b2f73;
    --gradient-3: #278993;
    --main-font-size: 22px;
    --small-font-size: 14px;
    --font-weight: 400;
}

body {
    font-family: 'Source Code Pro', monospace;
    font-weight: var(--font-weight);
    padding-bottom: 5rem;
}

/* Credit Card */
.card {
    color: white;
    border-radius: 15px;
    width: clamp(18rem, 18rem, 18rem);
    margin: auto;
    margin-top: 1rem;
    padding-bottom: .5rem;
    background-image: linear-gradient(to top, #020d3d , #0b2f73, #278993);
    transform: translateY(6rem);
    transition: all 200ms;
}

.card__logo-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
}
.card__cc-logo {
    width: 15%;
}

.card__visa-logo {
    width: 20%;
}

.card__info {
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem;
    font-size: 1rem;
}
span {
    font-size: inherit;
}
.card__info--bottom {
    font-size: 1rem;
    width: max-content;
    margin: 0;
}
.card__info--right {
    margin-left: auto;
}
.card__text-wrapper {
    columns: 2;
    column-width: 50%;
    margin: .5rem 1rem;
}
.card__label {
    font-size: .6rem;
    color: #d1d1d1;
}
.card__label--right {
    text-align: right;
}

/* Form */

.form {
    box-shadow: 1px 5px 10px #d1d1d1;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    padding: 1rem;
    max-width: 40rem;
    padding-top: 8rem;
    min-width: 18rem;
}
.form__label {
    font-size: 14px;
    color: #4a4a4a;
    margin-bottom: .5rem;
}



.form__input {
    border: 1px solid #d1d1d1;
    padding: .5rem;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 1.5rem;
    transition: all 100ms;
}
input:hover, select:hover {
    transform: scale(1.025);
}
input:focus, select:focus {
    transform: scale(1.025);
    outline: 2px solid #0072fa;
}



.form__flex-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.form__sub-container {
    width: 70%;
    justify-content: space-around;
}
.form__sub-container--right {
    width: 30%;
}
.form__input--small {
    width: 46%;
    display: inline-block;
}
.form__input--right {
    width: 100%;
} 
.form__input--chevron {
    background-image: url('assets/chevron-down.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    text-align: left;
}

.form__button {
    color: #0072fa;
    border: 2px solid #0072fa;
    padding: 0.5rem;
    width: 100%;
    border-radius: 5px;
}

.form__button:hover {
    background-color: #0072fa;
    color: #f6f6f6;
    cursor: pointer;
}

select {
    text-align: center;
}
select:hover {
    cursor: pointer;
}
.form__captcha {
    width: 50%;
    margin: auto;
    margin-bottom: 1rem;
    overflow: hidden;


}

@media screen and (max-width: 768px) {
    .card {
        transform: translateY(0px);
        margin-bottom: 2rem;
        
    }
    .card__label {
        font-size: .75rem;
    }
    .form {
        padding-top: 1rem;
        margin: auto;
    }
    .form__flex-container {
        flex-direction: column;
    }
    .form__sub-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .form__label--inline {
        display: inline-block;
        width: 100%;
    }
    .form__input--small {
        width: 45%;
        display: inline-block;
    }
    .form__input--right {
        width: 100%;
    }
    .form__sub-container--right {
        width: 100%;
    }
    .form__captcha {
        width: 100%;
    }
};