@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);
$dark-blue: hsl(249, 10%, 26%);
$grayish-Blue: hsl(246, 25%, 77%);
$font-fam: 'Poppins', sans-serif;
$font-size: 1.6rem;

* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

img, svg {
    display: block;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $font-fam;
    font-size: $font-size;
    background-image: url(../images/bg-intro-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $red;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    padding-inline: 2.4rem;

    &__text-container {
        margin-top: 10rem;
        margin-bottom: 7rem;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    &__heading {
        font-size: 2.4rem;
        color: white;
        max-width: 14ch;
        margin-inline: auto;
        text-align: center;
    }
    &__paragraph {
        font-size: 1.5rem;
        color: white;
        text-align: center;
        max-width: 32ch;
        margin-inline: auto;
    }
    &__form-container {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
    }
    &__banner {
        background-color: $blue;
        padding-block: 2.4rem;
        padding-inline: 8rem;
        color: white;
        font-size: 1.3rem;
        text-align: center;
        border-radius: 1rem;
        box-shadow: 0 8px 0 0 transparentize($color: #000000, $amount: .8);
        
        & .bold {
            font-weight: 700;
        }
    }
}
