@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');



/* fix bug that changes thw width of the form when adding the error classes */ 

$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);
$dark-blue: hsl(249, 10%, 26%);
$grayish-Blue: hsl(246, 25%, 77%);
$font-fam: 'Poppins', sans-serif;
$font-size: 1.6rem;

* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

img, svg {
    display: block;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $font-fam;
    font-size: $font-size;
    background-image: url(../images/bg-intro-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: $green;
    @media screen and (min-width: 426px) {
        background-image: url(../images/bg-intro-desktop.png);
    } 
}

$breakpoint: 1020px;

.hero {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding-inline: 2.4rem;
    margin-bottom: 6rem;
    margin-inline: auto;
    max-width: 126rem;
    gap: 7rem;
    @media screen and (min-width: $breakpoint) {
        flex-direction: row;
        margin-top: 12rem;
    }


    &__text-container {
        margin-top: 10rem;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        @media screen and (min-width: $breakpoint) {
            margin-top: 18rem;
        }
        
    }
    &__heading {
        font-size: 2.4rem;
        font-size: clamp(2.4rem, 6.4vw, 3.8rem );
        color: white;
        max-width: 14ch;
        margin-inline: auto;
        text-align: center;
        text-shadow: 0 0 4px transparentize($color: #000000, $amount: .8);
        @media screen and (min-width: $breakpoint) {
            text-align: left;
            margin-inline: 0;
        }

    }
    &__paragraph {
        font-size: 1.5rem;
        font-size: clamp(1.5rem, 4vw, 1.8rem );
        color: white;
        text-align: center;
        max-width: 32ch;
        margin-inline: auto;
        text-shadow: 0 0 4px transparentize($color: #000000, $amount: .8);
        @media screen and (min-width: $breakpoint) {
            text-align: left;
            max-width: 78ch;
        }
    }
    &__form-container {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        max-width: 54rem;
        margin-inline: min(72.4rem, auto);
    }
    &__banner {
        background-color: $blue;
        padding-block: 2.4rem;
        padding-inline: 8rem;
        color: white;
        font-size: 1.3rem;
        text-align: center;
        border-radius: 1rem;
        box-shadow: 0 8px 0 0 transparentize($color: #000000, $amount: .8);
        
        & .bold {
            font-weight: 700;
        }
    }
}

.form {
    background-color: white;
    padding: 2.4rem;
    border-radius: 1rem;
    box-shadow: 0 8px 0 0 transparentize($color: #000000, $amount: .8);

    &__input {
        font-family: inherit;
        font-size: 1.3rem;
        border: 1px solid $grayish-Blue;
        padding: 2rem;
        padding-block: 1.75rem;
        width: 100%;
        border-radius: .5rem;
        color: $dark-blue;
        font-weight: 600;
        margin-bottom: 1.5rem;

        &:focus {
            outline: 2px solid $dark-blue;
            border-color: transparent;
        }

        &::placeholder {
            font-family: inherit;
            color: transparentize($color: $dark-blue, $amount: .2);
        }
    }
    &__alert {
        margin-top: -1.2rem;
        margin-bottom: 1.25rem;
        color: red;
        text-align: left;
        font-style: italic;
        margin-right: 3px;
        font-size: 1rem;
        display: block;
        width: 200%;

        .--error+& {
            display: inline-block;
        }
    }
    &__button {
        background-color: $green;
        padding: 2rem;
        padding-block: 1.75rem;
        width: 100%;
        border: none;
        border-radius: .5rem;
        color: white;
        font-family: inherit;
        font-weight: 600;
        font-size: 1.4rem;
        box-shadow: 0 4px 0 0 darken($color: $green, $amount: 10%);
        margin-bottom: 1.4rem;

        &:hover {
            background-color: lighten($color: $green, $amount: 10%);
            cursor: pointer;
        }
    }
    &__small {
        color: $grayish-Blue;
        font-size: 1rem;
        width: 80%;
        text-align: center;
        margin: auto;
    }
    &__terms {
        color: red;
        font-weight: 600;
        text-decoration: none;

        &:hover {
            cursor: pointer;
        }
    }
}

.--error {
    outline: 2px solid red;
    border-color: transparent;
    color: red;
    background-image: url(../images/icon-error.svg);
    background-repeat: no-repeat;
    background-size: fill;
    background-position: center right 10px;

    &:focus {
        outline: 2px solid red;
    }
    &::placeholder {
        color: red;
    }
}
