@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

svg, img {
    display: block;
    max-width: 100%;
}

html {
    font-size: 62.5%;;
}

$Almost-White: hsl(0, 0%, 98%);
$Medium-Gray: hsl(0, 0%, 41%);
$Almost-Black: hsl(0, 0%, 8%);
$font-family: 'Epilogue', sans-serif;
$breakpoint: 1025px;

body {
    background-color: $Almost-White;
    font-family: $font-family;
    color: $Almost-Black;
    padding-bottom: 10rem;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: min(6.4vw, 3.3rem) min(4.2%, 4rem);
    position: relative;

    &__logo {
        width: 8.5rem;
    }
    &__button {
        width: 3.5rem;
        background-color: transparent;
        border: none;
    }
}

.navigation {
    background-color: white;
    width: 24rem;
    height: 200vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    
    font-size: min(3.7vw, 1.8rem);
    color: $Medium-Gray;
    transition: all 300ms;

    position: absolute;
    right: 0;
    top: 0;

    &__close-button {
        width: 3.5rem;
        background-color: transparent;
        border: none;
        align-self: flex-end;
        margin-bottom: 3.5rem;
    }
    &__main-list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin-bottom: 4rem;
    }
    &__main-item--dropdown  {
        display: grid;
        grid-template-columns: 8.5rem 2fr;
        grid-template-areas: "list icon" "sublist sublist";
        row-gap: 3rem;
        align-items: center;
        justify-content: start;
    }
    &__main-item-icon {
        grid-area: icon;
    }
    &__sub-list {
        grid-area: sublist;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin-left: 2.5rem;
    }
    &__sub-item {
        display: flex;
        gap: 1.5rem;
    }
    &__tertiary-button {
        align-self: center;
        margin-bottom: 2rem;
        text-decoration: none;
        color: inherit;
    }
    &__secondary-button {
        align-self: center;
        text-decoration: none;
        color: inherit;
        border: 2px solid $Medium-Gray;
        width: 100%;
        text-align: center;
        padding-block: 1.5rem;
        border-radius: 1.5rem;
    }
}


.hero {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin: auto;

    @media screen and (min-width: $breakpoint) {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        gap: 15rem;
        padding-inline: min(4.2%, 4rem);
    }

    &__image-container {
        margin-bottom: 5rem;
        margin: auto;
        max-width: 48rem;
        @media screen and (min-width: $breakpoint) {
            margin: 0;
        }
    }
    &__image {
        max-width: 100%;
        margin: 0;
    }
    &__text-container {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        align-items: center; 
        @media screen and (min-width: $breakpoint) {
            padding-top: 13rem ;
            gap: 6rem;
            align-items: flex-start;
        }
    }
    &__title {
        font-size: min(8vw, 7.78rem);
        text-align: center;
        margin: auto;

        & span {
            @media screen and (min-width: $breakpoint) {
                display: block;
            }
        }
        @media screen and (min-width: $breakpoint) {
            text-align: left;
            max-width: 12ch;
        }
    }
    &__paragraph {
        color: $Medium-Gray;
        line-height: 2;
        font-size: min(3.7vw, 1.8rem);
        text-align: center;
        max-width: 37ch;
        margin: auto;
        @media screen and (min-width: $breakpoint) {
            text-align: left;
            margin: 0;
            max-width: 43ch;
        }
    }
    &__button {
        background-color: $Almost-Black;
        color: $Almost-White;
        text-decoration: none;
        border: 3px solid $Almost-Black;
        padding: min(4.3vw, 2.2rem) min(6.3vw, 3.3rem);
        border-radius: 1.5rem;
        font-size: min(3.7vw, 2rem);

        &:hover {
            background-color: transparent;
            color: $Almost-Black;
        }

        @media screen and (min-width: $breakpoint) {
            text-align: left;
        }
    }
    &__logos-container {
        margin-top: 4rem;
        width: 95%;
        max-width: 57rem;
        justify-content: space-between;
        display: flex;
        gap: 2rem;

        @media screen and (min-width: $breakpoint) {
            margin-top: 0;
        }
    }
    &__logo {
        max-width: min(16vw, 11.6rem);
    }
}