@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
img, svg {
    display: block;
}


/* ----- */

$DesaturatedRed: hsl(0, 36%, 70%);
$SoftRed: hsl(0, 93%, 68%);
$DarkGrayishRed: hsl(0, 6%, 24%);
$Font-size: 1.6rem;
$font-fam: 'Josefin Sans', sans-serif;

/* gradients 
$Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
$Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)
*/

html {
    font-size: 62.5% ;
}

body {
    font-size: $Font-size;
    font-family: $font-fam;
    color: $DarkGrayishRed;
}

header {
    padding: 3.2rem;
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.logo {
    width: 10rem;
    height: 2.2rem;
}
.image-container {
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}
.image {
    /*filter: brightness(5%);*/
    max-width: 100%;
    margin: auto;
}

.text-container {
    max-width: 100%;
    margin: auto;
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    padding: 3.2rem;
}
.title {
    font-size: 3rem;
    text-align: center;
    line-height: 1.2;
}
.title-line {
    display: block;
    letter-spacing: 15px;
}
.--light {
    font-weight: 300;
    color: $DesaturatedRed;
    letter-spacing: 12.5px;
}

.paragraph {
    color: $DesaturatedRed;
    font-size: 1.2rem;
    line-height: 1.7;
    text-align: center;
    max-width: 31ch;
    margin-inline: auto;
    margin-block: 3rem 4rem;
}
.form {
    max-width: min-content;
    margin: auto;
    position: relative;
    margin-bottom: 5rem;
}
.email-input {
    background-color: transparent;
    border: 1px solid transparentize($color: $DesaturatedRed, $amount: 0.5);
    padding-inline: 2rem;
    padding-top: 1.25rem;
    padding-bottom: 1rem;
    border-radius: 250px;
    font-size: 1.2rem;
    font-family: inherit;
    width: 31ch;
    

    &::placeholder {
        font-size: 1.3rem;
        color: transparentize($color: $DesaturatedRed, $amount: 0.5);
    }
}

.submit {
    border: none;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%) );
    padding-inline: 2rem;
    padding-block: 0.8rem;
    border-radius: 25rem;
    box-shadow: 0 8px 15px 1.5px transparentize($color: $DesaturatedRed, $amount: 0.4);
    position: absolute;
    right: 0;
    top: 0;

    &:hover {
        opacity: 0.7;
        cursor: pointer;
    }
}