@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
img, picture {
    display: block;
}
/* --------------- */ 

/* text */ 
$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);
$font-family: 'Kumbh Sans', sans-serif;

/* Background gradient: */

$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

/* text */
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$vark-grayish-blue: hsl(240, 6%, 50%);
$font-size: 1.2rem;

/* Divider */

$light-grayish-blue: hsl(240, 5%, 91%);


/* ----------------- */
html {
    font-size: 10px;
}

body {
    background: linear-gradient(to top, $soft-blue, $soft-violet);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: $font-family;
    padding-inline: 2.5rem;
}
.faq-card {
    background-color: white;
    margin-top: 16rem;
    margin-inline: auto;
    margin-bottom: 8rem;
    padding: 3rem;
    padding-top: 10rem;
    padding-bottom: 5rem;
    border-radius: 2.5rem;
    position: relative;
    max-width: 45rem;
    min-width: 21rem;
    display: flex;
    
    @media screen and (min-width: 870px) {
        max-width: 92rem;
        margin-block: 5rem;
        overflow: hidden;
        padding-top: 5rem;
    }
    @media screen and (min-width: 1000px) {
        margin-inline: auto;
    }

    &__illustration-section-container {
        max-width: 39rem;
        
        @media screen and (min-width: 870px) {
            position: relative;
            padding-inline: 19.5rem;
        }
    }
    &__illustration {
        width: 23rem;
        position: absolute;
        top: -11rem;
        left: 50%;
        transform: translateX(-50%);
        @media screen and (min-width: 870px) {
            width: 100%;
            top: 10rem;
            left: 25%;
            z-index: 5;
        }
    }
    &__illustration-shadow {
        width: 23rem;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        @media screen and (min-width: 870px) {
            width: 200%;
            top: -16rem;
            left: -6%;
        }
    }
    &__wrapper {
        position: relative;
        width: fit-content;
        margin: auto;
    }
    &__box-illustration {
        display: none;
        @media screen and (min-width: 870px) {
            display: block;
            position: absolute;
            bottom: 16rem;
            left: -6.8rem;
            z-index: 10;
            width: 14rem;
            /*
            ;
            top: 23rem;
            left: -25%;
            z-index: 6;
            
            visibility: visible;
            z-index: 10;*/
        }
        
    }
    &__faq-container {
        width: 100%;
        max-width: 36rem;
        margin: auto;
    }
    &__title {
        font-size: 2.5rem;
        color: $very-dark-desaturated-blue;
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 3rem;
        @media screen and (min-width: 870px) {
            text-align: left;
        }
    }
    &__accordion {
        /* test */
        
        /* ** */
        border-bottom: 2px solid $light-grayish-blue;
        padding-block: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr min-content;
        grid-template-areas: "q q i" "a a i";

    }
    &__question {
        font-size: 1.25rem;
        font-weight: 400;
        color: $very-dark-desaturated-blue;
        grid-area: q;
        margin-bottom: 1rem;

    }
    &__icon {
        grid-area: i;
        margin-top: 0.5rem;
    }
    &__answer {
        display: none;
        grid-area: a;
        color: $very-dark-grayish-blue;
        font-size: 1.125rem;
    }
}

.question-open {
    font-weight: 700;
}
.icon-open {
    transform: rotate(180deg);
}
.answer-open {
    display: block;
}
