@use './reset';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

$Very-Dark-Blue: hsl(243, 87%, 12%);
$Desaturated-Blue: hsl(238, 22%, 44%);
$Bright-Blue: hsl(224, 93%, 58%);
$Moderate-Cyan: hsl(170, 45%, 43%);
$Light-Grayish-Blue: hsl(240, 75%, 98%);
$Light-Gray: hsl(0, 0%, 75%);

html {
    font-size: 10px;
}

.header {
    padding: 2.5rem;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10rem;
    &__logo {
        width: 8rem;
    }
    /*&__navigation {
    }*/
    &__link-list {
        display: flex;
        justify-content: space-between;
        gap: 2.5rem;
    }
    &__link {
        font-family: 'Raleway', sans-serif;
        font-size: 1.3rem;
        color: $Very-Dark-Blue;
        &:hover {
            border-bottom: 1px solid;
        }
    }
}

.hero {
    padding: 2.5rem {
        top:0;
    };
    &__illustration {
        width: 100%;
        max-width: 37.5rem;
        margin: auto;
        margin-bottom: 5rem;
    }
    &__text-container {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        max-width: 37.5rem;
        margin: auto;
    }
    &__title {
        font-family: 'Open Sans', sans-serif;
        font-size: 2.5rem;
        color: $Very-Dark-Blue;
        font-weight: 700;
        text-align: center;
    }
    &__paragraph {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.4rem;
        color: $Very-Dark-Blue;
        font-weight: 400;
        text-align: center;
        padding: 0 1rem;
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    &__input {
        border: 1px solid $Very-Dark-Blue;
        padding: 1.5rem 2rem;
        border-radius: 5px;
        font-family: 'Raleway', sans-serif;
        font-size: 1.3rem;
        
        box-shadow: 2px 2px 5px 2px transparentize($color: black, $amount: 0.96),
                    inset 2px 2px 5px 2px transparentize($color: black, $amount: 0.96),;
        
    }
    &__button {
        padding: {
            top:1.5rem;
            bottom:1.5rem;
        };
        box-shadow: 2px 2px 5px 2px transparentize($color: black, $amount: 0.92);
        background-color: $Bright-Blue;
        color: white;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 1.3rem;
        border-radius: 5px;
    }
}

.b-section {
    background-color: $Light-Grayish-Blue;
    padding: 2.5rem {
        top: 10rem;
        bottom: 10rem;
    }
    /* clip path maybe */


    &__image {
        width: 100%;
        margin: auto;
        margin-bottom: 10rem;
        max-width: 37.5rem;
        
    }
    &__text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        max-width: 37.5rem;
        margin: auto;
    }
    &__paragraph-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }
    &__title {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
    }
    &__paragraph {
        color: $Desaturated-Blue;
        font-size: 1.4rem;
        font-family: 'Open Sans', sans-serif;
    }
    &__link {
        color: $Moderate-Cyan;
        font-size: 1rem;
        font-family: 'Open Sans', sans-serif;
        border-bottom: 2px solid $Moderate-Cyan;
        padding-bottom: .3rem;
        padding-right: 2rem;
        background: {
            image: url(../images/icon-arrow.svg);
            repeat: no-repeat;
            size: 1.5rem;
            position: right top;
        };
    }
}
.card {
    /* box shadow */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 28rem; 
    border-radius: 5px;
    background: {
        color: white;
        image: url('../images/icon-quotes.svg');
        repeat: no-repeat;
        position: top 2rem left 2.5rem;
    }
    margin:auto;
    padding: 2.5rem {
        top: 5rem;
    }
    box-shadow: 2px 2px 8px 4px transparentize($color: black, $amount: 0.96);

    &__paragraph {
        font-size: 1.025rem;
        font-family: 'Open Sans', sans-serif;
        color: $Very-Dark-Blue;
    }
    &__container {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1rem;
    }
    &__avatar {
        width: 2.5rem;
        border-radius: 50%;
    }
    
    &__name {
        font-size: 1rem;
        font-family: 'Open Sans', sans-serif;
        color: $Very-Dark-Blue;
        font-weight: 700;
    }
    &__role {
        font-size: .7rem;
        font-family: 'Open Sans', sans-serif;
        color: $Very-Dark-Blue;
        font-weight: 400;
    }
}

.cta {
    background-color: $Desaturated-Blue;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    

    &__text-container {
        color: white;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        max-width: 37.5rem;
        margin: auto;
    }
    &__title {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 1.7rem;
        text-align: center;
    }
    &__paragraph {
        text-align: center;
        font-size: 1.35rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 0 2rem;
        width: 100%;
        max-width: 33.5rem;
        margin: auto;

        
    }
    &__input {
        padding: 1rem 1.5rem;
        border-radius: 3px;
        font-family: 'Raleway', sans-serif;
        font-size: .8rem;
        background-color: white;
        color: $Light-Gray;
    }
    &__button {
        padding: {
            top:1rem;
            bottom:1rem;

        };
        background-color: $Bright-Blue;
        color: white;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 1.1rem;
        border-radius: 3px;
        box-shadow: 2px 2px 5px 2px transparentize($color: black, $amount: 0.92);
    }
}
.footer {
    color: white;
    padding: 5rem;
    background-color: $Very-Dark-Blue;
    display: flex;
    flex-direction: column;
    gap: 5rem;

    &__block-container {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }
    &__row-container {
        display: flex;
        justify-content: flex-start;
        gap: 1.5rem;
        align-items: center;
    }
    &__icon {
        width: max-content;
    }
    &__text {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.6rem;
    }
    &__link {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.6rem;
        line-height: 2;
    }
    &__socials-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }
    &__social-icon {
        display: block;
        overflow: visible;
        box-sizing: content-box;
        width: 1.5rem;
        height: 1.5rem;
        color: white;
        padding: 1rem;
        transition: all 200ms;
        border: 1px solid white;
        border-radius: 50%;
    }
}
@media screen and (min-width: 426px) {
    html {
        font-size: 12px;
    }
}
@media screen and (min-width: 769px) {
    html {
        font-size: 13px;
    }
}
@media screen and (min-width: 1037px) {
    html {
        font-size: 10px;
    }
    .header {
        margin: 6rem 8rem 10rem;
        padding: 0;
        align-items: flex-start;

        &__logo {
            width: 16rem;
            
        }
        &__link {
            font-size: 1.5rem;
        }
        
    }
    .hero {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0;
        margin: 0 8rem;
        align-items: center;

        &__title {
            text-align: left;
            font-size: 3.5rem;
            font-family: 'Raleway', sans-serif;
        }
        &__paragraph {
            text-align: left;
            padding: 0;
            font-size: 1.6rem;
        }
        &__illustration {
            width: 50%;
            margin: 0;
            max-width: 63.5rem;
        }
        &__text-container {
            margin: 0;
            max-width: 52rem;
        }
        &__form {
            flex-direction: row;
        }
        &__input {
            width: 32rem;
            padding: 1.5rem 2rem;
        }
        &__button {
            width: 20rem;
            font-size: 1.6rem;
            padding: 1.6rem;
        }
    }
    .b-section {
        display: flex;
        flex-direction: row-reverse;

        &__image {
            width: 50%;
        }
        &__text-container {
            align-items: start;
        }
    }
    .card {
        margin-left: 0;
    }
    .cta {
        flex-direction: row;
        &__text-container {
            margin: 0;
        }
        &__title {
            text-align: left;
        }
        &__paragraph {
            text-align: left;
        }
    }
    .footer {
        display: grid;
        grid-template-areas:"logo logo logo logo"
                            "info list1 list2 social";
        row-gap: 2rem;
        &__logo-container {
            grid-area: logo;
        }
        &__block-container {
            grid-area: info;
        }
        &__socials-container {
            grid-area: social;
        }
    }
}