@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img, svg{
    display: block;
    max-width: 100%;
}

html {
    font-size: 62.5%;
}

$Blue: hsl(223, 87%, 63%);
$Pale-Blue: hsl(223, 100%, 88%);
$Light-Red: hsl(354, 100%, 66%);
$Gray: hsl(0, 0%, 59%);
$Very-Dark-Blue: hsl(209, 33%, 12%);
$font-size: 2rem;
$font-family: 'Libre Franklin', sans-serif;

.landing-page {
    padding-inline: 4.7rem;
    font-size: $font-size;
    font-family: $font-family;

    &__header {
        margin-top: 8.5rem;
        margin-inline: auto;
    }
    &__logo {
        width: 5.5rem;
        margin: auto;
    }
    &__main-container {
        margin-inline: auto;
    }
    &__title {
        font-size: 2rem;
        font-weight: 300;
        color: $Gray;
        text-align: center;
        margin-top: 5rem;
        margin-bottom: 2rem;
        
        &--highlight {
            color: black;
            font-weight: 700;
        }
    }
    &__paragraph {
        font-size: 1.1rem;
        text-align: center;
    }
    &__form {
        margin-top: 3.5rem;
        margin-bottom: 7rem;
        display: grid;
    }
    &__email-input {
        width: 100%;
        border: 1px solid $Pale-Blue;
        border-radius: 25rem;
        color: inherit;
        font-family: inherit;
        padding-inline: 3rem;
        padding-block: 1.25rem;

        &::placeholder {
            color: $Pale-Blue;
        }

    }
    &__alert {
        display: none; /*modify */
        @extend .landing-page__paragraph;
        color: red;
        font-style: italic;
    }
    &__button {
        margin-top: 1rem;
        border: none;
        color: white;
        font-weight: 600;
        background-color: $Blue;
        border-radius: 25rem;
        padding-inline: 3rem;
        padding-block: 1.25rem;
    }

}