@import url('./_reset.scss');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

$font-size: 16px;

/*(sub-heading at the top of the app UI)*/
$pale-violet:  hsl(276, 100%, 81%);

/*(chat on the left)*/
$moderate-violet: hsl(276, 55%, 52%);

/*(chat on the right)*/
$desaturated-dark-violet: hsl(271, 15%, 43%);

/*(placeholder text)*/
$grayish-blue:  hsl(206, 6%, 79%);

/*(main heading)*/
$very-dark-desaturated-violet:  hsl(271, 36%, 24%);

/*(paragraph)*/
$dark-grayish-violet: hsl(270, 7%, 64%);

/*These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient*/

$light-magenta: hsl(293, 100%, 63%);
$light-violet: hsl(264, 100%, 61%);

$white: hsl(0, 0%, 100%);

/*(app background)*/
$light-grayish-violet: hsl(270, 20%, 96%);

/*(submit button background)*/
$very-vark-desaturated-violet: hsl(271, 36%, 24%);

/*(radio button outline)*/
$very-light-magenta: hsl(289, 100%, 72%);

html {
    font-size: 62.5%;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: $light-grayish-violet;
}
main {
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
    justify-content: center;
    align-items: center;
}
.phone {
    background-color: white;
    width: 25rem;
    margin: 6rem auto;
    position: relative;
    padding: 1rem;
    border-radius: 3rem;
    overflow: hidden;
    box-shadow: .7rem .7rem 1rem .1rem transparentize($color: #000000, $amount: 0.86);

    &__notch {
        width: 13rem;
        background-color: white;
        padding-top: 3rem;
        margin: auto;
        border-radius: 1.5rem;
        position: absolute;
        top: -.25rem;
        left: 50%;
        transform: translate(-50%);
    }
}
.app {
    background-color: $light-grayish-violet;
    border-radius: 1.5rem;
    overflow: hidden;
    &__avatar {
        width: 2rem;
    }
    &__header {
        display: flex;
        background-image: linear-gradient(to left, $light-magenta,
        $light-violet);
        align-items: center;
        padding: 3rem 1.5rem 1rem;
        border-radius: .5rem;
        box-shadow: 0 0 .6rem .3rem transparentize($color: #000000, $amount: 0.85);
    }
    &__back {
        height: 2rem;
    }
    &__avatar {
        width: 2.5rem;
        height: 2.5rem;
        border: 1px solid $light-grayish-violet;
        border-radius: 50%;
    }
    &__text-container {
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__name {
        margin: 0;
        font-size: 1rem;
        font-weight: 700;
        color: $light-grayish-violet;
    }
    &__status {
        margin: 0;
        font-size: .9rem;
        color: $pale-violet;
    }
    &__options {
        height: 2rem;
        margin-left: auto;
    }
    &__message {
        margin: 1rem;
        color: $moderate-violet;
        font-size: .8rem;
        background-color: darken($color: $light-grayish-violet, $amount: 4%);
        padding: .8rem;
        width: 45%;
        border-radius: .8rem;
        border-bottom-left-radius: 0;
        
        
    }
    &__message--sent {
        margin: 1rem 1rem 1rem auto;
        color: $desaturated-dark-violet;
        font-size: .8rem;
        background-color: white;
        padding: .8rem;
        width: 40%;
        border-radius: .8rem;
        border-bottom-right-radius: 0;
        box-shadow: 0 .3rem .3rem .15rem transparentize($color: #000000, $amount: 0.96);

        &--small {
            @extend .app__message--sent;
            width: max-content;
        }
    }
    &__images-wrapper {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
        margin: 1rem;
    }
    &__image {
        width: 4rem;
        border-radius: .9rem;
    }
    &__radio-button {
        display: flex;
        align-items: center;
        gap: 1rem;
        background-image: linear-gradient(to right, $light-magenta,
        $light-violet);
        margin: 1rem;
        color: $white;
        font-size: .8rem;
        background-color: darken($color: $light-grayish-violet, $amount: 4%);
        padding: .9rem;
        width: 60%;
        border-radius: .8rem;
        border-bottom-left-radius: 0;
        box-shadow: 0 .3rem .2rem 0 transparentize($color: #000000, $amount: 0.88);
    }
    &__radio-button-check {
        height: 2rem;
    }
    &__radio-button-price {
        margin-left: auto;
        font-size: 1.5rem;
        font-weight: 700;
    }
    &__text-input {
        background-color: white;
        margin: 2rem 1rem;
        display: flex;
        padding: 1rem ;
        border-radius: 2rem;
        position: relative;
        color: lightgray;

    }
    &__send-button {
        position: absolute;
        right: .4rem;
        bottom: .4rem;
        height: 2.5rem;
        display: inline-grid;
        place-items: center;
        width: 2.5rem;
        border-radius: 50%;
        background-color: $very-vark-desaturated-violet;
        
    }
    &__send-icon {
        height: 2rem;
    }
}
.text-container {
    width: min-content;
    margin: auto;
}
.title {
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    margin: 3rem auto;
    width: max-content;
    color: $very-dark-desaturated-violet ;
}
.paragraph {
    color: $dark-grayish-violet;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10rem;
    line-height: 2;
}

@media screen and (min-width: 682px) {
    .title, .paragraph {
        text-align: left;
    }
    .phone, .text-container {
        margin: 0;
    }
    main {
        margin-top: 6rem;
    }
}