@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
/* reset */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  /*width: 100%; */
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
} */
/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  font-size: 100%;
  /* opcional */
  line-height: 1.5;
  /* opcional 
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto; */
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

/* ---------------------------------------------------------------------*/
html {
  font-size: 10px;
}

.header {
  padding: 2.5rem;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10rem;
  /*&__navigation {
  }*/
}
.header__logo {
  width: 8rem;
}
.header__link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.5rem;
}
.header__link {
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  color: hsl(243deg, 87%, 12%);
}
.header__link:hover {
  border-bottom: 1px solid;
}

.hero {
  padding: 2.5rem;
  padding-top: 0;
}
.hero__illustration {
  width: 100%;
  margin-bottom: 5rem;
}
.hero__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
}
.hero__title {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5rem;
  color: hsl(243deg, 87%, 12%);
  font-weight: 700;
  text-align: center;
}
.hero__paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  color: hsl(243deg, 87%, 12%);
  font-weight: 400;
  text-align: center;
  padding: 0 1rem;
}
.hero__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}
.hero__input {
  border: 1px solid hsl(243deg, 87%, 12%);
  padding: 1.5rem 2rem;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  /*
  box-shadow: 0 0 0 1px black;
  */
}
.hero__button {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  /*
  box-shadow: 0 0 0 1px black;
  */
  background-color: hsl(224deg, 93%, 58%);
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  border-radius: 5px;
}

.b-section {
  background-color: hsl(240deg, 75%, 98%);
  padding: 2.5rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
  /* clip path maybe */
}
.b-section__image {
  margin-bottom: 10rem;
}
.b-section__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}
.b-section__paragraph-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}
.b-section__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}
.b-section__paragraph {
  color: hsl(238deg, 22%, 44%);
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
}
.b-section__link {
  color: hsl(170deg, 45%, 43%);
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  border-bottom: 2px solid hsl(170deg, 45%, 43%);
  padding-bottom: 3px;
  padding-right: 20px;
  background-image: url(../images/icon-arrow.svg);
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: right top;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  max-width: 28rem;
  border-radius: 5px;
  background-color: white;
  background-image: url("../images/icon-quotes.svg");
  background-repeat: no-repeat;
  background-position: top 2rem left 2.5rem;
  margin: auto;
  padding: 2.5rem;
  padding-top: 5rem;
}
.card__paragraph {
  font-size: 1.025rem;
  font-family: "Open Sans", sans-serif;
  color: hsl(243deg, 87%, 12%);
}
.card__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.card__avatar {
  width: 2.5rem;
  border-radius: 50%;
}
.card__name {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  color: hsl(243deg, 87%, 12%);
  font-weight: 700;
}
.card__role {
  font-size: 0.7rem;
  font-family: "Open Sans", sans-serif;
  color: hsl(243deg, 87%, 12%);
  font-weight: 400;
}
/*# sourceMappingURL=styles.css.map */