@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img, svg {
    display: block;
    max-width: 100%;
}

html {
    font-size: 62.5%;
    @media screen and (min-width: 1441px) {
        font-size: 0.7vw;
    }
}

/* --------------- */

$Soft-red: hsl(7, 99%, 70%);
$Yellow: hsl(51, 100%, 49%);
$Dark-desaturated-cyan: hsl(167, 40%, 24%);  /*(graphic design text)*/
$Dark-blue: hsl(198, 62%, 26%); /* (photography text)*/
$Dark-moderate-cyan: hsl(168, 34%, 41%); /* (footer)*/

$bgc: rgb(255, 251, 248);

$Very-dark-desaturated-blue: hsl(212, 27%, 19%);
$Very-dark-grayish-blue: hsl(213, 9%, 39%);
$Dark-grayish-blue: hsl(232, 10%, 55%);
$Grayish-blue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);

$font-barlow:'Barlow', sans-serif;
$font-frances: 'Fraunces', serif;

$header-blue: hsl(200, 100%, 62%);
$breakpoint: 769px;

.header {
    padding-top: 3.5rem;
    position: relative;
    background-color: $header-blue;
    padding-bottom: min(53vw, 30rem);
    background-image: url(../images/mobile/image-header.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: min(100%, 47.5rem);
    @media screen and (min-width: 400px) {
        background-image: url(../images/desktop/image-header.jpg);
        background-size: min(200%, 124rem); 
    }

    &__top-row {
        margin-inline: min(6vw, 4.8rem); //2.3rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__button {
        background-color: transparent;
        border: none;
        transition: all 300ms;
        &:focus {
            outline: .5rem dotted white;
            outline-offset: 1rem;
        }
        &:hover {
            cursor: pointer;
            transform: scale(1.125);
        }
        @media screen and (min-width: $breakpoint) {
            display: none;
        }
    }
    &__logo {
        width: min(34vw, 17rem);
        @media screen and (min-width: $breakpoint) {
            align-self: center;
        }
    }
    &__navigation {
        display: none;
        position: absolute;
        top: 10rem;
        right: min(6vw, 4.8rem);// 2.3rem;
        font-family: $font-barlow;
        z-index: 10;
        @media screen and (min-width: $breakpoint) {
            display: block;
            position: static;
        }

        &::before {
            position: absolute;
            right: 0;
            top: -2.4rem;
            content: "";
            width: 0; 
            height: 0; 
            border-top: 24px solid transparent;
            border-bottom: 24px solid transparent; 
            border-right:24px solid $White;
            @media screen and (min-width: $breakpoint) {
                display: none;
            }
        }
    }
    &__menu {
        padding-block: 4rem;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        background-color: $White;
        width: 90vw;
        @media screen and (min-width: $breakpoint) {
            width: 100%;
            flex-direction: row;
            gap: 5rem;
            padding: 0;
            background-color: transparent;
        }
    }
    &__list-item {
        display: block;
        margin: auto;
    }
    &__link {
        display: block;
        text-decoration: none;
        color: $Dark-grayish-blue;
        font-size: 1.6rem;
        transition: all 300ms;
        &:focus {
            outline: .5rem dotted $Dark-grayish-blue;
            outline-offset: 1rem;
            color: $Very-dark-grayish-blue;
        }
        &:hover {
            color: $Very-dark-grayish-blue;
        }
        @media screen and (min-width: $breakpoint) {
            color: $White;
            &:focus {
                outline: .5rem dotted $White;
                outline-offset: 1rem;
                color: $White;
                text-decoration: underline;
            }
            &:hover {
                text-decoration: underline;
                color: $White;
            }
        }
    }
    &__nav-btn {
        display: block;
        background-color: $Yellow;
        font-size: 1.6rem;
        font-family: $font-frances;
        font-weight: 700;
        text-decoration: none;
        padding-block: 1.8rem;
        padding-inline: 3.2rem;
        color: $Very-dark-desaturated-blue;
        border-radius: 2.5rem;
        transition: all 300ms;
        &:focus {
            outline: .5rem dotted $Very-dark-grayish-blue;
            outline-offset: 1rem;
            background-color: transparentize($color: $Yellow, $amount: 0.6);
        }
        &:hover {
            cursor: pointer;
            background-color: transparentize($color: $Yellow, $amount: 0.6);
        }
        @media screen and (min-width: $breakpoint) {
            background-color: $White;
            &:focus {
                outline: .5rem dotted $White;
                outline-offset: 1rem;
                background-color: transparentize($color: $White, $amount: 0.6);
                color: $White;
            }
            &:hover {
                background-color: transparentize($color: $White, $amount: 0.6);
                color: $White;
            }
        }
    }
    &__title {
        margin-top: 6.5rem;
        color: $White;
        font-family: $font-frances;
        font-size:  min(8vw, 4rem);//3rem;
        font-weight: 900;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        max-width: 11ch;
        margin-inline: auto;
        @media screen and (min-width: $breakpoint) {
            max-width: 22ch;
        }
    }
    &__icon-arrow {
        width: 3.6rem;
        position: relative;
        top: 6rem;
        margin: auto;
    }
}


.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: clamp(31rem, 83vw, 60rem) clamp(43rem, 115vw, 60rem);
    @media screen and (min-width: 750px) {
        grid-template-columns: clamp(375px, 50vw, 72rem) clamp(375px, 50vw, 72rem);
        grid-template-areas:"text1 egg"
                            "cup text2";
    }

    &__image {
        background-size: 100%;
        background-repeat: no-repeat;
        

        &.--egg {
            background-image: url(../images/mobile/image-transform.jpg);
            background-color:rgb(255, 209, 1);
            background-position: top;
            @media screen and (min-width: 750px) {
                background-image: url(../images/desktop/image-transform.jpg);
                background-size: cover;
                background-position: center;
                grid-area: egg;
            }
        }
        &.--cup {
            background-image: url(../images/mobile/image-stand-out.jpg);
            background-color: rgb(254, 121, 104);
            background-position: bottom;
            @media screen and (min-width: 750px) {
                background-image: url(../images/desktop/image-stand-out.jpg);
                background-size: cover;
                background-position: center;
                grid-area: cup;
            }
        }
    }
    &__text {
        background-color: $bgc;
        padding-inline: 3.2rem;
        max-width: 100%;
        @media screen and (min-width: 750px) {
            padding-right: clamp(3.2rem, 11vw, 12rem);
            padding-left: clamp(3.2rem, 11vw, 16.5rem) ;
        }

        .--egg+& {
            @media screen and (min-width: 750px) {
                grid-area: text1;
            }
        }

        .--cup+& {
            @media screen and (min-width: 750px) {
                grid-area: text2;
            }
        }
    }
    &__title {
        color: $Very-dark-desaturated-blue;
        font-size: min(8vw, 4rem);
        font-family: $font-frances;
        font-weight: 900;
        text-align: center;
        max-width: 12ch;
        margin: auto;
        margin-top: min(19vw, 16rem);
        margin-bottom: min(8vw, 4rem);
        @media screen and (min-width: 750px) {
            font-size: min(4vw, 4rem);
            margin-top: clamp(3.2rem, 11vw, 16rem);
            margin-bottom: min(4vw, 4rem);
            text-align: left;
            margin-left: 0;
        }
    }
    &__paragraph {
        font-size: 1.6rem;
        font-family: $font-barlow;
        color: $Dark-grayish-blue;
        text-align: center;
        line-height: 2.5rem;
        width: min(77vw, 44rem);
        margin: auto;
        @media screen and (min-width: 750px) {
            width: min(100%, /*38.5vw,*/ 44rem);
            text-align: left;
            margin-left: 0;
        }
    }
    &__link {
        display: block;
        position: relative;
        width: fit-content;
        font-family: $font-frances;
        font-size: 1.2rem;
        font-weight: 900;
        color: $Very-dark-desaturated-blue;
        text-decoration: none;
        margin: auto;
        margin-top: min(8vw, 4rem);
        text-transform: uppercase;
        text-align: center;
        transition: all 300ms;
        @media screen and (min-width: 750px) {
            margin-top: min(4vw, 4rem);
            text-align: left;
            margin-left: 0;
        }

        &.--egg {
            &::after {
                content: '';
                position: absolute;
                top: 1rem;
                height: 1rem;
                left: -7%;
                width: 115%;
                border-radius: 1rem;
                background-color: rgba(255, 209, 1, 0.25);
                transition: all 200ms;
        }
        &:focus {
            outline: .5rem dotted rgba(255, 209, 1, 0.9);
            outline-offset: 2rem;
        }
        &:hover, &:focus {
            &::after {
                top: 1.25rem;
                background-color: rgba(255, 209, 1, 0.9);
        }
        }
        }
        &.--cup {
            &::after {
                content: '';
                position: absolute;
                top: 1rem;
                height: 1rem;
                left: -7%;
                width: 115%;
                border-radius: 1rem;
                background-color: rgba(254, 121, 104, 0.25);
                transition: all 200ms;
        }
        &:focus {
            outline: .5rem dotted rgba(254, 121, 104, 0.9);
            outline-offset: 2rem;
        }
        &:hover, &:focus {
            &::after {
                top: 1.25rem;
                background-color: rgba(254, 121, 104, 0.9);
        }
        }
    }
}
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 60rem;

    @media screen and (min-width: 750px) {
        grid-template-columns: clamp(375px, 50vw, 72rem) clamp(375px, 50vw, 72rem);
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 4rem;
        padding-inline: 2.6rem;
        background-size:100% 60rem;
        

        &.--design {
            background-image: url(../images/mobile/image-graphic-design.jpg);
            background-repeat: no-repeat;
            color: $Dark-desaturated-cyan;
            @media screen and (min-width: 376px) {
                background-image: url(../images/desktop/image-graphic-design.jpg);
                background-size:75rem 60rem;
                background-position: center;
            }
        }
        &.--photo {
            background-image: url(../images/mobile/image-photography.jpg);
            background-repeat: no-repeat;
            color: $Dark-blue;
            @media screen and (min-width: 376px) {
                background-image: url(../images/desktop/image-photography.jpg);
                background-size:75rem 60rem;
                background-position: center;
                
            }
        }
    }
    &__title {
        font-size: 2.9rem;
        font-family: $font-frances;
        max-width: max-content;
        font-weight: 900;
        text-align: center;
        margin-inline: auto;
    }
    &__para {
        font-size: 1.5rem;
        font-family: $font-barlow;
        text-align: center;
        margin-bottom: 6rem;
        line-height: 2.5rem;
        max-width: 41ch;
        margin-inline: auto;
    }
}



.testimonials {
    background-color: $bgc;
    padding-block: min(18.6vw, 16rem);

    &__title {
        font-size: 1.5rem;
        font-family: $font-frances;
        font-weight: 900;
        width: max-content;
        margin: auto;
        text-transform: uppercase;
        letter-spacing: .5rem;
        color: $Grayish-blue;
        margin-bottom: min(17vw, 8rem);
    }
}

.row-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding-inline: 4rem;
}

.testmnl-card {
    width: min(100%, 33.3rem);
    
    &__avatar {
        border-radius: 50%;
        margin: auto;
        margin-bottom: 4rem;
        width: 7.2rem;
        aspect-ratio: 1 / 1;
    }
    &__quote {
        font-size: 1.6rem;
        font-family: $font-barlow;
        color: $Very-dark-grayish-blue;
        text-align: center;
        line-height: 2.5rem;
        margin-bottom: 4rem;
    }
    &__name {
        font-family: $font-frances;
        font-weight: 900;
        width: max-content;
        font-size: 1.5rem;
        margin: auto;
        margin-bottom: 1.5rem;
    }
    &__position {
        font-family: $font-barlow;
        width: max-content;
        margin: auto;
        font-size: 1.4rem;
        color: $Grayish-blue;
    }
}

.row-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, min(50vw, 45rem));

    @media screen and (min-width: 900px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: min(50vw, 45rem);
    }
}

.photo {

    background-repeat: no-repeat;
    background-size: cover;

    &.--1 {
        background-image: url(../images/mobile/image-gallery-milkbottles.jpg);
        @media screen and (min-width: 900px) {
            background-image: url(../images/desktop/image-gallery-milkbottles.jpg);
        }
    }
    &.--2 {
        background-image: url(../images/mobile/image-gallery-orange.jpg);
        @media screen and (min-width: 900px) {
            background-image: url(../images/desktop/image-gallery-orange.jpg);
        }
    }
    &.--3 {
        background-image: url(../images/mobile/image-gallery-cone.jpg);
        @media screen and (min-width: 900px) {
            background-image: url(../images/desktop/image-gallery-cone.jpg);
        }
    }
    &.--4 {
        background-image: url(../images/mobile/image-gallery-sugar-cubes.jpg);
        @media screen and (min-width: 900px) {
            background-image: url(../images/desktop/image-gallery-sugarcubes.jpg);
        }
    }
}


.footer {
    background-color: hsl(167, 44%, 70%);
    padding-block: 7rem;

    &__logo {
        width: 17rem;
        margin: auto;
    }
    &__nav {
        margin-top: 5rem;
        margin-bottom: 9rem;
    }
    &__menu {
        width: 30rem;
        list-style-type: none;
        display: flex;
        gap: 6rem;
        margin: auto;
        justify-content: center;
    }
    &__link {
        text-decoration: none;
        font-family: $font-barlow;
        font-size: 1.6rem;
        color: $Dark-moderate-cyan;
        transition: all 350ms;
        &:focus {
            outline: .5rem dotted $White;
            outline-offset: 1rem;
        }
        &:hover, &:focus {
            color: $White;
        }
    }
}

.socials-container {
    display: flex;
    gap: 3rem;
    width: 30rem;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.social-icon {
    max-width: 200%;
    display: block;
    width: 2rem;
    aspect-ratio: 1/1.1;
    color: $Dark-moderate-cyan;
    transition: all 350ms;
    color: $Dark-desaturated-cyan;
    transform: scale(1.125);

    &:focus {
        outline: .5rem dotted $White;
        outline-offset: 1rem;
    }
    &:hover, &:focus {
        cursor: pointer;
        color: white;
    }
}