@import './reset';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

$Pink: hsl(322, 100%, 66%);
$Very-Pale-Cyan: hsl(193, 100%, 96%);
$Very-Dark-Cyan: hsl(192, 100%, 9%);
$Grayish-Blue: hsl(208, 11%, 55%);
$Font-size: 1.8rem;
html {
    font-size: 10px;
}
body {
    font-size: $Font-size;
}
%buttons-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    
}
.hero-section {
    padding: 5rem 3rem;
    background: {
        image: url(../images/bg-hero-mobile.svg);
        repeat: no-repeat;
        size: contain;
        color: $Very-Pale-Cyan;
    };

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        width: 10rem;
    }
    &__header-button {
        background-color: white;
        @extend %buttons-text;
        padding: .5rem 2rem;
        border-radius: 50px;
        font-size: 1.4rem;
        box-shadow: 0 1px 10px 1px transparentize($color: $Grayish-Blue, $amount: 0.6);
        &:hover {
            cursor: pointer;
            color: $Grayish-Blue;
        }
    }
    &__dir-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 12rem;
        gap: 5rem;
        
    }
    &__text-container {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        align-items: center;
    }
    &__title {
        text-align: center;
        font-size: 2.5rem;
        font-family: 'Poppins', sans-serif;
    }
    &__paragraph {
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    &__image {
        max-width: 100%;
        margin: auto;
    }
    &__button {
        @extend %buttons-text;
        background-color: $Pink;
        color: white;
        padding: 1.5rem 6rem;
        border-radius: 50px;
        &:hover {
            cursor: pointer;
            background-color: lighten($color: $Pink, $amount: 10%)
        }
    }
}

.features-section {
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center
}
.card {
    border-radius: 20px;
    box-shadow: 0 0 12.5px 2px hsla(0, 0%, 0%, 0.05);
    padding: 3rem 4rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 7rem;

    &__text-container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    &__title {
        text-align: center;
        font-size: 2.25rem;
        font-family: 'Poppins', sans-serif;
    }
    &__paragraph {
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        color: $Grayish-Blue;
    }
}

.call-card {
    border-radius: 20px;
    box-shadow: 0 0 15px 2px hsla(0, 0%, 0%, 0.05);
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    position: relative;
    top: 10rem;
    background-color: white;


    &__title {
        text-align: center;
        font-size: 1.6rem;
        font-family: 'Poppins', sans-serif;
    }
    &__button {
        @extend %buttons-text;
        font-size: 1.4rem;
        background-color: $Pink;
        color: white;
        padding: 1.5rem 3rem;
        border-radius: 50px;
        box-shadow: 0 1px 15px 2px hsla(0, 0%, 0%, 0.05);
        &:hover {
            cursor: pointer;
            background-color: lighten($color: $Pink, $amount: 10%)
        }
    }
}


.footer {
    padding: 5rem 3rem;
    padding-top: 10rem;
    background-color: $Very-Dark-Cyan;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: $Font-size;

    &__info-list {
        display: flex;
        flex-direction: column;
        align-items: left;
        gap: 3rem;
    }
    &__logo {
        width: max-content;
    }
    &__info-container {
        display: flex;
        align-items: start;
        gap: 3rem;
    }
    &__info-icon {
        margin-top: 5px;
    }
    &__link-list {
        margin-top: 6rem;
        line-height: 3;
    }
    &__link:hover {
        text-decoration: underline;
    }
    &__socials-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        margin-top: 6rem;
    }
    &__social-icon {
        display: block;
        overflow: visible;
        box-sizing: content-box;
        width: 3rem;
        height: 3rem;
        color: white;
        padding: 1rem;
        transition: all 200ms;
        border: 1px solid white;
        border-radius: 50%;
        &:hover {
            cursor: pointer;
            color: $Pink;
            border-color: $Pink;
        }
    }
    &__copyright {
        padding-top: 3rem;
        font-size: 1.4rem;
        text-align: center;
    }
}
