@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    @media screen and (min-width: 1441px) {
        font-size: 0.7vw;
    }
}

$Soft-Cyan: hsl(174, 77%, 80%); /*(Full Slider Bar)*/
$Strong-Cyan:  hsl(174, 86%, 45%); /*(Slider Backround)*/
$Light-Grayish-Red:  hsl(14, 92%, 95%); /*(Discount Background)*/
$Light-Red: hsl(15, 100%, 70%); /*(Discount Text)*/
$Pale-Blue: hsl(226, 100%, 87%); /*(CTA Text)*/
$White: hsl(0, 0%, 100%); /*(Pricing Component Background)*/
$Very-Pale-Blue: hsl(230, 100%, 99%); /*(Main Background)*/
$Light-Grayish-Blue-empty: hsl(224, 65%, 95%); /*(Empty Slider Bar)*/
$Light-Grayish-Blue-toggle: hsl(223, 50%, 87%); /*(Toggle Background)*/
$Grayish-Blue: hsl(225, 20%, 60%); /*(Text)*/
$Dark-Desaturated-Blue: hsl(227, 35%, 25%); /*(Text & CTA Background)*/
$font: 'Manrope', sans-serif;
$breakpoint: 480px;
/* ------------------------- */

body {
    font-family: $font;
    font-weight: 600;
    font-size: 1rem;
    padding-inline: 2.4rem;
    background: {
        image: url(../images/bg-pattern.svg);
        repeat:no-repeat;
        size: 144rem;
        color: $Very-Pale-Blue;
    }
    @media screen and (min-width: 1440px) {
        background: {
            image: url(../images/bg-pattern.svg);
            repeat:no-repeat;
            size: 100%;
            color: $Very-Pale-Blue;
        }
    }
}
/* ------ header  --------*/
.header {
    padding-top: 9.5rem;
    padding-bottom: 7rem;
    background: {
        image: url(../images/pattern-circles.svg);
        repeat: no-repeat;
        size: min(40vw, 15rem); /*15rem;*/
        position: center top 7rem;
    };
    @media screen and (min-width: $breakpoint) {
        background-position: center top 5.5rem;
    }

/*5.5rem*/

    &__title {
        font-size: min(5.3vw, 2.8rem );
        width: max-content;
        color: $Dark-Desaturated-Blue;
        margin: auto;
    }
    &__paragraph {
        max-width: 22ch;
        margin: auto;
        margin-top: 2rem;
        text-align: center;
        font-size: min(3.45vw, 1.45rem) /*1.45rem /*1.3rem;*/;
        color: $Grayish-Blue;
        @media screen and (min-width: $breakpoint) {
            max-width: max-content;
        }
    }
}

/* -------- component -------- */

main {
    margin: auto;
    width: min(100%, 54rem);
    box-shadow: 0 0 4rem .1rem transparentize($color: $Dark-Desaturated-Blue, $amount: .85);
    border-radius: 1rem;
}

.pricing-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $White;
    padding-inline: min(6.4vw, 4.4rem);
    padding-block: min(9.3vw/*(3.5rem)*/, 5rem);
    width: min(100%, 54rem);
    margin: auto;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;

    @media screen and (min-width: $breakpoint){
        display: grid;
        grid-template-areas: "views price" "slider slider" "check check";
        justify-content: space-between;
    }


    &__pageviews {
        max-width: max-content;
        font-size: min(3.6vw, 1.66rem); /*1.9rem /*1.586rem*/
        color: $Grayish-Blue;
        margin: auto;
        letter-spacing: 0.1rem;
        font-weight: 800;
        grid-area: views;
        //margin-bottom: 3.5rem;
    }

    &__slider-container {
        text-align: center;
        margin: auto;
        grid-area: slider;
        margin-block: 3.5rem;
        width: 100%;
        align-self: stretch;
        justify-self: stretch;
        position: relative;
    }

    &__price-row {
        display: flex;
        align-items: center;
        gap: .8rem;
        font-size: min(3.6vw, 1.66rem); /*1.9rem /*1.586rem*/
        color: $Grayish-Blue;
        max-width: max-content;
        margin: auto;
        grid-area: price;
        margin-bottom: 3.5rem;
        @media screen and (min-width: $breakpoint) {
            margin-bottom: 0;
        }
    }
    &__price {
        color: $Dark-Desaturated-Blue;
        font-weight: 800;
        font-size: min(8vw, 3.6rem); /*3rem*/
    }
    &__check-row {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        grid-area: check;
        align-items: center;
    }
    &__text {
        font-size: min(2.9vw, 1.2rem); /* 1.1rem;*/
        color: $Grayish-Blue;
        font-weight: 600;
        position: relative;
    }

    &__check-button {
        appearance: none;
        width: 4.8rem;
        height: 2.4rem;
        background-color: $Light-Grayish-Blue-toggle;
        border-radius: 50rem;
        position: relative;
        transition: all 400ms;
        &::after {
            content: "";
            width: 1.5rem;
            height: 1.5rem;
            background-color: $White;
            position: absolute;
            top: .4rem;
            border-radius: 50%;
            transition: all 400ms;
            left: .5rem;
        }
        &:hover {
            background-color: $Soft-Cyan;
            cursor: pointer;
        }
        &:checked {
            background-color: $Strong-Cyan;

            &::after {
                transform: translate(2.25rem);
            }
        }
    } 

    &__discount {
        width: max-content;
        position: absolute;
        background-color: $Light-Grayish-Red;
        color: $Light-Red;
        border-radius: 50rem;
        padding: .25rem .5rem;
        left: 110%;
        top: -.25rem;
    }
}

.cta {
    border-top: .2rem solid $Light-Grayish-Blue-empty ;
    background-color: $White;
    padding-inline: min(6.4vw, 4.4rem);
    padding-block: min(9.3vw/*(3.5rem)*/, 5rem);
    width: min(100%, 54rem);
    margin: auto;
    margin-bottom: 10rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    @media screen and (min-width: $breakpoint) {
        flex-direction: row;
        justify-content: space-between;
    }

    &__benefits-list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        @media screen and (min-width: $breakpoint) {
            align-items: flex-start;
        }

        &-item {
            @extend .pricing-component__text;

            &::before {
                content: url(../images/icon-check.svg);
                margin-right: 1rem;
            }
        }
    }
    &__button-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__button {
        background-color: $Dark-Desaturated-Blue;
        color: $Pale-Blue;
        padding: min(4vw, 1.5rem);
        padding-inline: min(13.3vw, 5rem);
        border-radius: 50rem;
        text-decoration: none;
        font-size: min(2.9vw, 1.2rem);
        transition: all 400ms;
        &:hover {
            cursor: pointer;
            color: $Very-Pale-Blue;
        }
    }
}

.slider {
    appearance: none;
    width: 100%;
    background-color:
    $Light-Grayish-Blue-empty;
    height: 1rem;
    border-radius: 2rem;
    z-index: 10;
    &:hover {
        cursor: pointer;
    }
    &::-webkit-slider-thumb {
        appearance: none;
        width: 4rem;
        height: 4rem;
        background-color: $Strong-Cyan;
        border-radius: 50%;
        z-index: 20;
        background-image: url(../images/icon-slider.svg);
        background-repeat: no-repeat;
        background-position: center;
        z-index: 30;
        position: relative;
        &:hover {
            cursor: grab;
        }
        &:active {
            cursor: grabbing;
        }
    }
    &::-moz-range-thumb {
        appearance: none;
        width: 4rem;
        height: 4rem;
        background-color: $Strong-Cyan;
        border-radius: 50%;
        z-index: 20;
        background-image: url(../images/icon-slider.svg);
        background-repeat: no-repeat;
        background-position: center;
        &:hover {
            cursor: grab;
        }
        &:active {
            cursor: grabbing;
        }
    }
    &::-ms-thumb {
        appearance: none;
        width: 4rem;
        height: 4rem;
        background-color: $Strong-Cyan;
        border-radius: 50%;
        z-index: 20;
        background-image: url(../images/icon-slider.svg);
        background-repeat: no-repeat;
        background-position: center;
        &:hover {
            cursor: grab;
        }
        &:active {
            cursor: grabbing;
        }
    }

    &__progress-bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 1rem;
        background-color: $Soft-Cyan;
        z-index: 20;
        border-radius: 2rem;
        transition: all 400ms;
        &:hover {
            cursor: pointer;
        }
    }
}