@import './reset';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@400;700&display=swap');


$pink-color: hsl(322, 100%, 66%);
$Light-Pink: hsl(321, 100%, 78%);
$Light-Red: hsl(0, 100%, 63%);
$Very-Dark-Cyan: hsl(192, 100%, 9%);
$Very-Pale-Blue: hsl(207, 100%, 98%);

html {
    font-size: 62.5%;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    margin: 2.4rem;
    margin-bottom: 12rem;
    align-items: center;

    &__logo {
        width: 9.8rem;
    }
    &__button {
        font-size: 1rem;
        color: $pink-color;
        padding: .6rem 2rem;
        border: 1px solid $pink-color;
        border-radius: 5rem;
        box-shadow: 0 0 3px 1px transparentize($color: $pink-color, $amount: 0.9);
    }
}

.hero {
    margin: 0 4rem;

    &__text-container {
        margin-bottom: 10rem;
    }
    &__title {
        font-family: 'Poppins', sans-serif;
        font-size: 2.2rem;
        font-weight: 700;
        text-align: center;
        color: $Very-Dark-Cyan;
        margin-bottom: 3rem;
    }
    &__text {
        color: $Very-Dark-Cyan;
        text-align: center;
        font-size: 1.4rem;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 5rem;
    }
    &__button {
        background-color: $pink-color;
        color: white;
        margin: auto;
        padding: 1.2rem 4rem;
        font-size: 1.2rem;
        font-weight: 600;
        border-radius: 5rem;
        box-shadow: 0 2px 5px 1px transparentize($color: #000000, $amount: .85);
    }
}