@use '../../reset' as r;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
$Violet: hsl(257, 40%, 49%);
$Soft-Magenta: hsl(300, 69%, 71%);
$open-sans: 'Open Sans', sans-serif;
$popins: 'Poppins', sans-serif;

body {
    background: {
        image: url(../images/bg-mobile.svg);
        repeat: no-repeat;
        color: $Violet;
        size: contain;
    }
    overflow-x: hidden;
    padding: 0 2rem;
}
.logo {
    width: 8rem;
    margin-bottom: 3.5rem;
    margin-top: 2rem;

}
.hero-section {
    display: flex;
    flex-direction: column;

    &__image {
        margin: 0 auto;
        width: 100%;
        margin-bottom: 4rem;
        max-width: 480px;
    }
    &__text-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: max-content;
        margin: auto;
    }
    &__title {
        color: white;
        font-family: $popins;
        text-align: center;
        font-weight: 700;
        font-size: 1.5rem;
        width: 100%;
        max-width: 17ch;
        margin: auto;
    }
    &__paragraph {
        color: white;
        font-family: $open-sans;
        text-align: center;
        font-size: 1.025rem;
        max-width: 33ch;
        margin: auto;
    }
    &__button {
        background-color: white;
        color: $Violet;
        font-family: $popins;
        max-width: max-content;
        display: block;
        margin: auto;
        font-size: 0.97rem;
        padding: .5rem 4rem;
        border-radius: 50px;
        box-shadow: 3px 3px 13px 3px darken($color: $Violet, $amount: 17%);
        transition: all 200ms;
        &:hover {
            background-color: $Soft-Magenta;
            color: white;
        }
    }
}
.icon-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.icon {
    display: block;
    overflow: visible;
    box-sizing: content-box;
    width: .8rem;
    height: .8rem;
    color: white;
    padding: .3rem;
    transition: all 200ms;
    border: 1px solid white;
    border-radius: 50%;

    &:hover {
        color: $Soft-Magenta;
        border-color: $Soft-Magenta;
        cursor: pointer;
    }
}

@media screen and (min-width: 916px) {
    body {
        background-image: url('../images/bg-desktop.svg');
        background-size: cover;
    }
    .hero-section {
        flex-direction: row;
        gap: 2rem;
        align-items: flex-start;
        justify-content: center;
        &__text-container {
            margin: 0;
            margin-top: 3.5vw;
        }
        &__title {
            text-align: left;
            margin-left:0 ;
        }
        &__paragraph {
            text-align: left;
        }
        &__button {
            margin-left: 0;
        }
        &__image {
            width: 50%;
            max-width: max-content;
            margin:0;
        }
    }
    
    .icon-container {
        justify-content: flex-end;
    }
}